.header {
    background-color: #4aaaa5;
    text-align: center;
    color:white;
    font-size:x-large;
    padding:25px 5px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.link {
    padding-top:20px;
}
.link a:hover {
    text-decoration:underline;
}

